.navlinks {
    float: right;
    display: block;
    color: #fdfdfd;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: none;
}

.navlinks:hover {
    background: #ffffff;
    color: rgb(25, 118, 210);
    border-radius: 10px;
}

.drawerlinks {
    color: #000000;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: bold;
}

.listitem:hover .drawerlinks {
    background: rgb(25, 118, 210);
    color: white;
}

.listitem:hover {
    background: rgb(25, 118, 210);
}

.listitem:hover {
    background: rgb(25, 118, 210);
}